.homepage{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 3rem auto;
    width: 100vw;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 20px;
    
}
