.addkeeper{
    display: flex;
    flex-direction: column;
    background: rgb(0, 0, 0);
    padding: 0.2rem;
    border-radius: 20px;
    margin: 2.1rem auto;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 20px;
}

.inputBox{
    border: none;
    border-radius: 10px;
    margin: 0.8rem;
    padding: 0.5rem;
    background: rgb(76, 76, 77);
    outline: none;
}

.inputBox::placeholder{
    color: rgb(211, 202, 202);
    font-size: 1.3rem;
}

.titleInput{
    font-size: 1.8rem;
    color: rgb(82,171,240);
    font-family: "texturina", serif;
    background: rgb(76, 76, 77);
    
    
}

.description{
    font-size: 1.5rem;
    font-family: "texturina", serif;
    min-height: 130px;
    min-width: 450px;
    color: rgb(102,201,156);
    resize: none;
    background: rgb(76, 76, 77);
}

.addButton{
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    background: linear-gradient(to bottom right, rgb(114, 248, 185), rgb(82,171,240));
    margin: 0.5rem auto;
    padding: 0.4rem 3.5rem;
    font-family: "texturina", serif;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.5) 0px 50px 100px -20px, rgba(0, 0, 0, 0.5) 0px 30px 60px -30px, rgba(10, 37, 64, 0.5) 0px 50px 100px -30px;
    cursor: pointer;
}