.header{
  width: 100%;
  display: flex;
  padding: 0.55rem;
  background: black;
  color: rgb(82, 171, 240);
  justify-content: center;
  font-family: "texturina", serif;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
  
  }
  .button{
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    background: linear-gradient(to bottom right, rgb(114, 248, 185), rgb(82,171,240));
    margin: 0.5rem auto;
    padding: 0.5rem 4.5rem;
    font-family: "texturina", serif;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.5) 0px 50px 100px -20px, rgba(0, 0, 0, 0.5) 0px 30px 60px -30px, rgba(10, 37, 64, 0.5) 0px 50px 100px -30px;
    cursor: pointer;
    margin-right: 20px;
}