.top{
    min-height: 900px;
    background: linear-gradient(to bottom right, rgb(82, 171, 240), rgb(114, 248, 185));
    padding: 117px 299px 322px 316px;
}

.register{
    width: 310px;
    height: 450px;
    background-color: darkgray;
    border: 1px solid darkgray;
    box-shadow: 0 4px 7px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
    
}

.register > input{
    border-radius: 8px;
    border: 2px solid #666464;
    outline: none;
    color: #1d2129;
    margin: 0.3rem 0;
    padding: 0.4rem 0.75rem;
    width: 100%;
    font-size: 1.1rem;
}

.register > .button{
    background: #1877f2;
    border: 1px solid #1877f2;
    color: #000;
    font-size: 1.45rem;
    padding: 0.1rem;
    margin: 0.2rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    justify-content: center;
    text-align: center;

}

.title1{
    justify-content: center;
    color: #000;
    font-family: "texturina" serif; 
}

p{
    text-align: center;
    font-size: 1.3rem;
    font-family: "texturina" serif;
}