
.register{
    width: 310px;
    height: 450px;
    background-color: darkgray;
    border: 1px solid darkgray;
    box-shadow: 0 4px 7px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
    
}

.register > input{
    border-radius: 8px;
    border: 2px solid #666464;
    outline: none;
    color: #1d2129;
    margin: 0.3rem 0;
    padding: 0.4rem 0.75rem;
    width: 100%;
    font-size: 1.1rem;
}

.register > .button{
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    background: linear-gradient(to bottom right, rgb(8, 100, 57), rgb(21, 250, 250));
    padding: 0.4rem;
    margin: 0.4rem 0;
    font-family: "Kanit", serif;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.5) 0px 50px 100px -20px, rgba(0, 0, 0, 0.5) 0px 30px 60px -30px, rgba(10, 37, 64, 0.5) 0px 50px 100px -30px;
    cursor: pointer;
    outline: none;

}

.title1{
    justify-content: center;
    color: #000;
    font-family: "kanit" serif; 
}

p{
    text-align: center;
    font-size: 1.3rem;
    font-family: "texturina" serif;
}